.emailSubscriptionDiv{
    padding:40px 10px;
    text-align: center;
    background-color: #008EA8;
}
.emailSubscriptionTitle{
    padding:10px 2px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}
.emailSubscriptionText{
    font-size: 16px;
    color:#d6e3e5;
  font-weight: 400;
  padding-bottom: 10px;
}
.FormControlDiv{
    display: flex;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 15px;
}
.FormControlDiv1{
width:80%
}
.FormControlDiv input{
    width: 100%;
    padding: 6px;
    border-radius: 6px;
    font-size: 16px;
    outline: 0;
    border:1px solid #fff;
}
.FormControlDiv2{
    width: 20%;
}
.FormControlDiv2 button{
    padding: 6px 15px;
    border-radius: 6px;
    background-color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color:#133240;

}
@media(max-width:768px){
.FormControlDiv{
    flex-direction: column;
}
.FormControlDiv1 {
    width: 100%
}
.FormControlDiv2 {
    width: 100%;
}

.FormControlDiv2 button {
    padding: 8px 25px;
    border-radius: 20px;
    margin-top: 10px;
  

}
}