.section1{
    height: calc(100vh);
    width: 100%;
    position: relative;
}
.sectionImg{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.NewArrivalD{
    position: absolute;
    z-index: 2;
    top:50%;
    left:30%;
    transform: translate(-50%, -50%);
}
.NewArrivalD1{
font-size: 24px;
color:#fff;
font-weight: 600;
margin-bottom: 10px;
}
.NewArrivalD2{
font-size: 14px;
color:rgb(234, 235, 236);
font-weight: 400;
margin-bottom: 10px;
}
.NewArrivalD3{
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: fit-content;
    background-color: #fff;
    color:#000;

}
@media(max-width:768px){
    .section1{
        height: 200px;
    }
        .NewArrivalD {
            position: absolute;
            z-index: 2;
            /* margin-top: 200px; */
            top: 40px;
            left:10px;
            transform: translate(0, 0);
        }
}