.lk{
    background-image: linear-gradient(45deg, #008EA8, #006C80);
    padding: 10px 15px;

}
.Section11{
    width:100%;
    padding: 100px 0px 80px 0px;
    max-width:1250px;
    margin:60px auto 0 auto;
}
.PreRes{
    font-size: 28px;
    font-weight: 600;
    color:#fff;
}
.PreRes1{
    color:gold;
    font-size: 28px;
    font-weight: 600;
}
.PreRes2{
  font-size: 16px;
    font-weight: 400;
    color: #e9e9e9;
    padding: 10px 0px;
    width: 70%;
}
.row{
    background:#fff;
    color:#000;
}
.row1{
         background: #00000036;
    color: #fff;
}
.Dbrs{
    display:flex;
    gap:10px
}
.llm{
    position:absolute;
    background:#00000057;
    /* background-image:linear-gradient(45%,#000,#000); */
    z-index:3;
    top:0;
    left:0;
    bottom:0;
    right:0;
    border-radius:10px;
 
}
.Um1{
     position:absolute;
    background:#00000057;
    /* background-image:linear-gradient(45%,#000,#000); */
    z-index:3;
    top:0;
    left:0;
    bottom:0;
    right:0;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}

.brs{
    padding:8px 12px;
    border-radius:25px;

}
.brs1{
    padding:10px 0px;
    font-size:14px;
    color:#e9e9e9;
}
.contentSec{
    width:100%;
    max-width:1265px;
    margin:60px auto 10px auto;
}
.contentSec1{
    display:flex;
    gap:15px;
    margin-bottom:10px;
    padding:2px 15px;
}
.contentSec2{
    padding:5px 8px;
    border-radius:5px;
    font-size:14px;
    width: fit-content;
    cursor: pointer;

}
.FFee{
    font-size:24px;
    font-weight:600;
    /* margin-bottom:8px; */
    display:flex;
    gap:15px;
    align-item:center !important;
    padding-left:15px;
}
.lineBr{
    width:80px;
 height:2px;
 background:#000;
 margin-bottom:6px;

}
.ArticleSec2{
display:flex;
gap:20px
}
.ArticleSec{
    width:50%;
    height:250px;
    position:relative;


}
.imag{
    width:100%;
    height:100%;
    border-radius:8px;
    object-fit:cover;
}
.DivOnAbsolute{
    position:absolute;
    padding:10px;
    bottom:10px;
    left:10px;
    z-index:5;

}
.pText{
    color:#fff;
    font-size:22px;
    font-weight:600;
    margin-bottom:5px;
  
}
.pText1{
    color:#bfbfbf;
    font-size:16px;
    font-weight:500;
}
.CopTu{
    padding:10px 15px;
}
.componentSec{
    display:flex;
    gap:15px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top:60px;
    margin-bottom:80px
}
.componentSec1{
        /* width: 33.3%; */
        flex: 0 0 32%;
        box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 2px 11px 0px #e8e9ed
}
.cardUnit{
    height:160px;
    position:relative;
}
.cardImg{
  width:100%;  
  height:100%;
  border-top-left-radius:8px;
    border-top-right-radius:8px;
}
.cardUnit1{
    position:absolute;
    bottom:10px;
    width:100%;
    display:flex;
    justify-content:space-between;
    padding:8px 12px;
    gap:10px;
    z-index:10
}
.cardUnit2{
    /* background:#fff; */
    border-radius:8px;
    padding: 5px 10px;
    display:flex;
    gap:15px;
    align-item:center
}
.opp{
    background:#007f96;
}
.opp1{
    background:#858080bd;
    align-item:center;
}
.DN{
    color:#d9d8d8
}
.cc{
    padding:20px 15px;
}
.cc1{
    display:flex;
    align-item:center;
    justify-content:space-between;
    margin-bottom:15px;
}
.textCc{
    font-size:20px;
    font-weight:600;
    width:50%
}
.cc2{
    font-size:14px;
    font-weight:400px;
    color:#5f5c5c;
    margin-bottom:20px
}
.textCc2{
      padding: 6px 10px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    background: #cdcdcd;
    color: #000;
    text-align: center;
   
    height: fit-content;

}
.lmk{
    color:#007e95;
    font-weight:400;
    font-size:14px;
}
@media(max-width:768px){
    .Tare{
width:100%;
overflow:scroll !important;
 scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; 
    }
    .Tare::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
    .TT{
        overflow:hidden;
    }
    .contentSec1{
        width:550px !important;
        overflow-x:hidden
 
    }
    .Section11 {
    padding: 60px 0px 30px 0px;
}
.PreRes2 {

    width: 100%;
}
.bvn{
    width:100%;
    overflow:scroll;
      scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}
.bvn::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.ArticleSec2 {
    
    width: 600px;
    padding:2px 15px;
    margin:10px auto;
    /* overflow:scroll; */
}
.componentSec {
    flex-direction: column;
   
}
.componentSec1 {
    /* width: 100%; */
    flex:0 0 100%;
    max-width:500px;
    margin:2px auto;
   
}
.brs {
  
    font-size: 12px;
}
.componentSec {
  
    margin-bottom: 40px;
}
.contentSec {
  
    margin: 40px auto 10px auto;
}
}
@media(min-width:1020px){
    .PreRes, .PreRes1 {
            font-size: 48px;
        }
            
}

@media (min-width:500px) and (max-width: 768px) {
    .ArticleSec2 {
        width: 758px;
      
        /* overflow: scroll; */
    }
    
}


@media(min-width:769px){
        .ArticleSec2 {
                padding: 5px 15px;
            }
                        .brs {
                            padding: 8px 24px;
                        }

}

@media (min-width:768px) and (max-width: 1023px) {
    .componentSec1{
        flex: 0 0 48%;
    }


}

